<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>🖤Mohamed Talat Website</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>


  <table cellspacing=20>
    <tr>
      <td>
        <h1 id="heading">Mohamed Talat</h1>
        <p><em> <strong>physician and a programmer</strong></em></p>
        <p>I am a physician and a programmer , i hope one day i will be able to combine both fields </p>
      </td>
    </tr>
  </table>

  <hr>
  <h3>Education:</h3>
  <ul>
    <p>
      <li>2018 Boston University, Bachelor of Science in Computer Science, Pursue 2nd bachelor degree in science
        in Boston University major in Computer Science .</li>
      <br>
      <li> 2018 United States Medical License exam step 1 (Passed)</li>
      <br>
      <li>2008 - 2015 AIN SHAMS UNIVERSITY , FACULTY OF MEDICINE Medical Degree, graduated with GPA 3.96</li>

    </p>

  </ul>


  <hr>
  <h3>Technologies and Tools:</h3>
  <ul>
    <p>
      <li>HTML • Cascading Style Sheets (CSS) • JavaScript</li>
      <br>
      <li> Python • Java •NodeJS •Express.JS</li>
      <br>
      <li>SQL • Java FX Scene builder • jQuery • Bootstrap</li>

    </p>

  </ul>

  <h3>Work experience</h3>

  <table>
    <thead>
      <tr>
        <th>Dates</th>
        <th>Work</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>. </td>
        <td>The Complete 2020 Web Development bootcamp (Udemy)</td>
      </tr>
      <tr>
        <td>2016-2017</td>
        <td>Internship at Al Badr hospital Heliopolis Egypt</td>
      </tr>
      <tr>
        <td>2015-2016</td>
        <td>Internship at El Demerdash hospitals, Ain shams university, Egypt</td>
      </tr>



    </tbody>
    <tfoot>

    </tfoot>

  </table>


  <hr>
  <h3>Languages</h3>
  <table cellspacing=20>
    <tr>
      <td>English</td>
      <td>⭐⭐⭐⭐</td>
    </tr>

    <tr>
      <td>Arabic</td>
      <td>⭐⭐⭐⭐⭐</td>
    </tr>

  </table>


</body>

</html>